PRXProject/src/huyng/jaxb/brand.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://huyng/schema/brand"
            elementFormDefault="qualified">
    <xsd:element name="brand">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Id" type="xsd:positiveInteger"/>
                <xsd:element name="Name" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>